/* SEMANTIC COLORS */
.ui.grid>.blue.column, .ui.grid>.blue.row, .ui.grid>.row>.blue.column{
    background-color: #00539B !important;
    color: #FFF;
}
.ui.button{
    background: #00539B;
    color: rgba(255,255,255,.6);
}
.ui.button:hover{
    background: #00539B;
    color: rgba(255,255,255,1);
}

/* HTML */
#content a:hover{
    color:#00539B;
}

#menu .active, #footer li a:hover{
    color:#00539B !important;
}

/* SLICK SLIDER */
.slick-dots li button:before{
    color: #00539B;
}
.slick-dots li.slick-active button:before{
    color: #00539B;
}