/* SEMANTIC COLORS */
.ui.grid>.orange.column, .ui.grid>.orange.row, .ui.grid>.row>.orange.column{
    background-color: #F47721 !important;
    color: #FFF;
}
.ui.button{
    background: #F47721;
    color: rgba(255,255,255,.6);
}
.ui.button:hover{
    background: #F47721;
    color: rgba(255,255,255,09) !important;
}

/* HTML */
a:hover{
  color:#F47721 !important;  
}

#menu .active, #footer li a:hover{
  color:#F47721 !important;
}

/* SLICK SLIDER */
.slick-dots li button:before{
    color: #F47721;
}
.slick-dots li.slick-active button:before{
    color: #F47721;
}