/* SEMANTIC COLORS */
.ui.grid>.teal.column, .ui.grid>.teal.row, .ui.grid>.row>.teal.column{
    background-color: #00A0AF !important;
    color: #FFF;
}
.ui.button{
    background: #00A0AF;
    color: rgba(255,255,255,.6);
}
.ui.button:hover{
    background: #00A0AF;
    color: rgba(255,255,255,1);
}

/* HTML */
#content a:hover{
    color:#00A0AF;
}

#menu .active, #footer li a:hover{
    color:#00A0AF !important;
}

/* SLICK SLIDER */
.slick-dots li button:before{
    color: #00A0AF !important;
}
.slick-dots li.slick-active button:before{
    color: #00A0AF !important;
}