/* SEMANTIC COLORS */
.ui.grid>.white.column, .ui.grid>.orange.row, .ui.grid>.row>.white.column{
    background-color: #FFFFFF !important;
    color: #222;
}
.ui.button{
    background: #333;
    color: rgba(255,255,255,.6);
}
.ui.button:hover{
    background: #222;
    color: rgba(255,255,255,1);
}

table i{
    color:#000000;
}

/* HTML */
a{
    color:#FFFFFF;
}
    a:hover{
        color:#FFFFFF;
    }

#menu .active, #footer li a:hover{
    color:#FFFFFF !important;
}

/* SLICK SLIDER */
.slick-dots li button:before{
    color: #FFFFFF;
}
.slick-dots li.slick-active button:before{
    color: #FFFFFF;
}