/* SEMANTIC COLORS */
.ui.grid>.white.column, .ui.grid>.white.row, .ui.grid>.row>.white.column{
    background-color: #767676 !important;
    color: white;
}
.ui.button{
    background: #333;
    color: rgba(255,255,255,.6);
}
.ui.button:hover{
    background: #222;
    color: rgba(255,255,255,09) !important;
}

/* HTML */
#content a:hover{
    color:#FFFFFF !important;
}

#menu .active, #footer li a:hover{
    color:#FFFFFF !important;
}

/* SLICK SLIDER */
.slick-dots li button:before{
    color: #FFFFFF;
}
.slick-dots li.slick-active button:before{
    color: #FFFFFF;
}