/* SEMANTIC COLORS */
.ui.grid>.yellow.column, .ui.grid>.orange.row, .ui.grid>.row>.yellow.column{
    background-color: #FFC222 !important;
    color: #FFF;
}
.ui.button{
    background: #FFC222;
    color: rgba(255,255,255,.6);
}
.ui.button:hover{
    background: #FFC222;
    color: rgba(255,255,255,1);
}

/* HTML */
#content a:hover{
    color:#FFC222;
}

#menu .active, #footer li a:hover{
    color:#FFC222 !important;
}

/* SLICK SLIDER */
.slick-dots li button:before{
    color: #FFC222;
}
.slick-dots li.slick-active button:before{
    color: #FFC222;
}