# IDE & System Related Files #
.buildpath
.editorconfig
.project
.settings
.DS_Store
.idea

# OSX #
._*
.Spotlight-V100
.Trashes

# Windows #
Thumbs.db
Desktop.ini

# Never ignore #
# Only apply this rule to the main repository's gitignore files
!/.gitignore