/* COLOR OVERIDES */
i.blue.icon{      color:#00539B !important;}
i.green.icon{     color:#B2BB1E !important;}
i.orange.icon{    color:#F47721 !important;}
i.purple.icon{    color:#003D62 !important;}
i.red.icon{       color:#E23D40 !important;}
i.teal.icon{      color:#00A0AF !important;}
i.yellow.icon{    color:#FFC222 !important;}
i.jade.icon{      color:#679146 !important;}
i.aqua.icon{      color:#00A0AF !important;}
i.navy.icon{      color:#003D62 !important;}

.ui.button.blue{      background-color:#00539B !important;}
.ui.button.green{     background-color:#B2BB1E !important;}
.ui.button.orange{    background-color:#F47721 !important;}
.ui.button.purple{    background-color:#003D62 !important;}
.ui.button.red{       background-color:#E23D40 !important;}
.ui.button.teal{      background-color:#00A0AF !important;}
.ui.button.yellow{    background-color:#FFC222 !important;}
.ui.button.jade{      background-color:#679146 !important;}
.ui.button.aqua{      background-color:#00A0AF !important;}
.ui.button.navy{      background-color:#003D62 !important;}

.equal.height.grid > .column .segment{
  height: 180px;
}

body.pushable{
  background-color:#f0f0f0 !important;
}

/* HTML */
body{
  font-family: 'Open Sans';
  font-size:1em !important;
  line-height:1.33;
  color:#424242;
  background-color:#f0f0f0 !important;
  font-weight:300;

}

h1{
  margin-top:0px !important;
}
h1, h2, h3{
  text-transform:uppercase !important;
}
h2{
  font-size:22px;
}
h4.header{
  font-size:16px !important;
}
  h4 .sub.header{
    font-size:14px !important;
  }
h5, h6{
  text-transform:uppercase !important;
}
  h5 .sub.header, h6 .sub.header{
    text-transform:none !important;
  }

a{
  color: #424242;
}
  a:hover{
    color:#B2BB1E; !important;
  }

figure{
  margin:0px;
}

/* IMAGE HELPERS */
.left.floated.image{
  float:left;
  margin-right:8px;
  padding-right:8px;
}
.right.floated.image{
  float:right;
}
img.profile{
  min-width:141px !important;
  width:141px !important;
  margin-right:8px;
  text-align:top;
}
.ui.small.image{
  width:200px !important;
  margin-bottom:8px;
}
@media only screen and (max-width: 767px) and (orientation: portrait) {
  .ui.left.floated.small.image{
    float:none;
  }
}

/* TEXT HELPERS */
.lead{
  font-size:18px;
  line-height:24px;
}
  .lead p{
    line-height:24px;
  }
small, .small{
  font-size:11px;
}
.articleDetails{
  line-height:40px;
  position:relative;
  top:-20px;
}
.login{
  color:#424242;
}
.reference{
  font-size:1rem !important;
  text-transform:uppercase !important;
  margin-top:15px !important;
  display:block;
}
.addthis_sharing_toolbox{

}

.ui.header{
  font-family: 'Open Sans' !important;
}

/* COLORS */
.main{
  background-color:white;
}
.light{
  background-color: #E8E8E8;
}
.dark{
  background-color: #3f3f3f;
  color:#d8d8d8;
}
.very.dark{
  background-color: #222;
  color:#999;
}
.dark a, .very.dark a, .dark .header, .very.dark .header{
  color:#d8d8d8;
}


/* LAYOUT */
#main{
  max-width:1140px !important;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
}

/* LOGO */
#epsLogo a img{
  padding-top:15px;
  padding-bottom:2px;
  width:300px;
}

/* Numbers */
#numberLeft, #numberRight{
  display:none;
  font-size:22px;
  color:black;
  padding-top:15px;
}
  #numberRight{
    display:inline-block;
  }

  #numberLeft:hover, #numberRight:hover{
    text-decoration:none;
  }

  /* Mobile */
  @media only screen and (max-width: 767px) {
    #numberRight{
      display:none;
    }
    #numberLeft{
      display:block;
      font-size:16px;
      margin-top:30px;
    }
  }
  /* Tablet */
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    #numberRight{
      display:none;
    }
    #numberLeft{
      display:block;
      font-size:16px;
      margin-top:30px;
    }
  }

#subsites{
  margin-top: 15px;
  font-size: 11px !important;
  line-height: 12px !important;
}
  #subsites .ui.compact.table td{
    padding: .1em 0em;
  }
  #subsites *{
    font-weight:normal !important;
  }
  #subsites .ui.basic.table tbody tr{
    border-bottom:0px;
  }
  #subsites .ui.table:not(.unstackable) tr{
    padding-top: 0em;
    padding-bottom: 0em;
    box-shadow: none !important;
  }
  #subsites a{
    color:black;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
  }
  #subsites tr td{
    width:80px;
  }
  #subsites a.moBlue:hover{     color:#00539B;}
  #subsites a.moGreen:hover{    color:#B2BB1E;}
  #subsites a.moOrange:hover{   color:#F47721;}
  #subsites a.moPurple:hover{   color:#003D62;}
  #subsites a.moRed:hover{      color:#E23D40;}
  #subsites a.moTeal:hover{     color:#00A0AF;}
  #subsites a.moYellow:hover{   color:#FFC222;}
  #subsites a.moJade:hover{     color:#679146;}
  #subsites a.moAqua:hover{     color:#00A0AF;}
  #subsites a.moNavy:hover{     color:#003D62;}
  #subsites a.moBurgundy:hover{ color:#800020;}

  #portraitSubsites{
    display:none !important;
  }

 /* Mobile */
  @media all and (orientation:portrait) {
    #subsitesWrapper{
      display:none;
    }
    #portraitSubsites{
      display:block !important;
    }
    #portraitSubsites tr{
      padding-top: 0em;
      padding-bottom: 0em;
      box-shadow: none !important;
      border-bottom:0px !important;
      color:black;
      letter-spacing:-0.4px;
    }
    #portraitSubsites tr td{
      font-weight:normal;
    }
  }
  @media only screen and (max-width: 767px) {
    #subsites.ui.basic.table tbody tr{
      
    }
    #subsites.ui.basic.table tbody tr td{
    }
  }

#brand{
  padding-bottom:20px;
}
  #brand .ui.header{
    color:white !important;
  }
  #brand .sub.header{
    font-size:18px;
    color:white !important;
  }
  #brand .slogan{
    display:block;
    font-size:18px;
    font-weight:300;
    text-transform:uppercase;
    font-family:'Open Sans' !important;
  }

  .credits table tr:nth-child(1) td{
    padding-bottom:5px;
  }
    .credits table{
      width:100%;
    }
    .credits table tr td{
      vertical-align:top;
    }
    .credits table tr td:nth-child(2){
      width:80px;
      text-align:right;
    }

  #team table.ui.table{
    border:0px;
  }
  #team table tr td{
    vertical-align:top;
  }

  /* Mobile */
  @media only screen and (max-width: 767px) {
    #brand .logo{

    }
    #brand .slogan{
      font-size:14px;
    }
  }

  /* Tablet */
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    #brand .logo{

    }
  }

  /* Small Monitor */
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    #brand .logo{

    }
  }

/* SLIDER */
#slider.row{
  padding:0px !important;
}
  #slider.row .image{
    background-position:top center;
  }
  #slider .column{
    padding:0px !important;
    height:223px !important;
    overflow:hidden;
  }
  @media only screen and (max-width: 767px) {
    #slider .column{
      height: 93px !important;
      background-color:red;
    }
    #slider .image{
      height: 93px !important;
      background-color:black;
    }
  }
  /* Arrows */
  #slider .slick-prev, #slider .slick-next{
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 25%;
    display: block;
    width: 38px;
    height: 61px;
    margin-top: -10px;
    padding: 0;
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
  }
  /* SLDIER PREV */
  #slider .slick-prev{
    left: 0px !important;
    z-index:999;
  }
  #slider .slick-prev:before{
    content: url('/templates/excellerate/assets/img/right.gif') !important;
  }
  /* SLIDER NEXT */
  #slider .slick-next{
    right: 0px !important;
  }
  #slider .slick-next:before{
    content: url('/templates/excellerate/assets/img/left.gif') !important;
  }
  @media only screen and (max-width: 767px) {
    #slider .slick-prev, #slider .slick-next{
      margin-top: -6px;
    }
  }
  /* DOTS */
  .slick-dots{
    position: absolute !important;
    bottom: 0px !important;
  }
  .slick-dots li button:before{
    font-size: 12px !important;
  }
  .slick-slide{
    text-align:center;
  }

/* FOOTER SLIDER */
#footer .slick-slider{
  white-space: nowrap;
  text-align: center; 
}
  #footer .slick-slider img{
    max-height:90px;
    max-width:120px;
  }

/* SPLASH BOX */
#splashWrapper{
  padding:15px 30px;
  text-align:right;
  font-size:18px !important;
  line-height:24px !important;
}

#content ul, #content ol{
  position:relative;
  left:25px;
  margin-left:-10px;
  padding-left:0px;
  padding-right:25px;
  float:clear;
}
#content ul{
  list-style:none;
  list-style-image:url('/templates/excellerate/assets/img/dot.gif');
}
#content ul li, #content ol li{
  padding-left:10px;
}

/* CARDS */
#cards{
    padding-top:25px;
    padding-bottom:25px;
    background-color:#888888;
    color:white;
}
  #cards .card{
    background-color: #f0f0f0;
  }
  #cards img.ui.image{
    border-top-left-radius:5px;
    border-top-right-radius:5px;
  }
  #cards .ui.card, #cards .ui.cards>.card{
    border-radius: 4px !important;
  }
  #cards .ui.card>.content, #cards.ui.cards>.card>.content{
    padding: 0px;
    color:#424242;
  }
  #cards .ui.card>.content h3, #cards.ui.cards>.card>.content h3{
    font-family: 'Open Sans';
    font-size:18px;
    margin:0px;
    letter-spacing: -0px;
    height:16px;
    color:white;
    position:absolute;
    top:8px;
    left:0px;
    font-smoothing:antialiased;
  }
  #cards .ui.three.cards>.card>.content h3{
    padding:15px 0px 0px 8px;
  }
    /* Mobile */
  }
  @media only screen and (max-width: 767px) {
    #cards .ui.card>.content h3, #cards.ui.cards>.card>.content h3{
      padding:30px 0px 0px 15px;
    }
    #cards .ui.three.cards>.card>.content h3{
      padding:40px 0px 0px 15px;
    }
  }
  /* Tablet */
  @media only screen and (min-width: 768px) and (max-width: 991px) {
   #cards .ui.card>.content h3, #cards.ui.cards>.card>.content h3{
      padding:10px 0px 0px 8px;
      font-size:16px;
    }
    #cards .ui.three.cards>.card>.content h3{
      padding:4px 0px 0px 15px;
    }
  }
  /* Small Monitor */
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
   #cards .ui.card>.content h3, #cards.ui.cards>.card>.content h3{
      padding:15px 0px 0px 15px;
    }
    #cards .ui.three.cards>.card>.content h3{
      padding:10px 0px 0px 15px;
    }
  }
  #cards .ui.card>.content p, #cards.ui.cards>.card>.content p{
    padding:15px;
  }
  #cards .extra.content{
    padding:8px !important;
  }
  #cards .header{
    font-size:11px !important;
  }
  #cards p{
    font-size:12px !important;
  }

  .arrow-right {
  width: 0; 
  height: 0; 
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid green;
  float:left;
  margin-right:3px;
}

/* THREE CONTENT BLOCKS */
#top, #bottom, #content, #bottom, #footer{

}
  #top img, #content img, #bottom img, #footer img{
    display:block;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    max-width:100%;
    background-color: transparent;
  }

  #top .segment, #bottom .segment{
    min-height:350px !important;
    min-height:220px !important;
  }

  #bottom{
    background-color:#565656;
    color:white;
  }
    #bottom img{
      width:100%;
    }

  #footer{
    margin:0px 0px 0px 0px !important;
    padding:30px 0px 0px 0px !important;
  }

  #footer ul, #footer ol{
    margin:0px;
    padding:0px;
    list-style:none;
  }
    #footer li a:hover{
      text-decoration:none;
    }
    #footer li{
      border-top:1px solid #ccc;
      padding-top:8px;
      padding-bottom:8px;
    }
    #footer li:first-child{
      border-top:0px;
    }

#copyright{
  font-size:11px;
  text-transform:uppercase;
  min-height:56px;
}
  #copyright p.copyright{
    padding:0px;
    margin:0px;
    position:absolute;
    bottom:-1px;
  }
  #copyright .socialLink{
    color:white !important;
    text-decoration:none !important;
  }
  #copyright i{
    font-size: 28px;
  }

  /* Mobile */
  @media only screen and (max-width: 767px) {
    #copyright p.copyright{
      padding:0px;
      margin:0px;
      position:relative;
      bottom:none;
    }
  }

#end{
  font-size:9px;
  padding-top:3px !important;
}
  #end a{
    color:#333;
  }
  #end a:hover{
    text-decoration:none !important;
  }

#sidebarButton{
  text-transform:uppercase;
  position:absolute;
  right:24px;
  top:12px;
}
  #sidebarButton:hover{
    text-decoration:none;
  }

/* COMPUTER MENU */
#menu.row{
  padding-top:0px;
  padding-bottom:0px;
  background-color:rgba(0,0,0,0.05);
  border-bottom:1px solid rgba(0,0,0,0.1);
}
  #menu.row .column{
    padding-left:0px;
    padding-right:0px;
  }
    #menu.row .ui.menu {
      display: flex;
      margin: 0px;
      background: transparent;
      border: 0px;
      box-shadow: none;
      border-radius: 0;
    }
    #menu.row .ui.menu .item::before{
      background:transparent;
    }
    /* Effect all menu items */
    #menu.row .ui.menu a{
      font-family: 'Open Sans';
      font-size:12px !important;
      font-weight: 400 !important;
      color:black;
      text-transform:uppercase;
      text-decoration:none;
      color: #333;
      color: rgba(0,0,0,.8);
    }

    #menu.row .ui.menu .sub.item.strong{
      text-transform:uppercase !important;
      margin-top:8px;
    }
    #menu.row .ui.menu .subsub{
      font-size:11px;
      font-weight:300 !important;
      line-height:4px;
      margin-left:4px;
    }
  #menu.row h3{
    display:none;
  }

  @media only screen and (max-width: 991px) {
    #menu{
      display:none;
    }
  }

/* SLICK */

/* SEMANTIC TWEEKS */
.ui.link.menu .item:hover, .ui.menu .dropdown.item:hover, .ui.menu .link.item:hover, .ui.menu a.item:hover {
  background: white;
  color: rgba(0, 0, 0, 0.95);
}
  /* Mobile */
  @media only screen and (max-width: 767px) {
    #slider.row img{
      min-width:775px !important;
      overflow:hidden;
      left:-33%;
    }
    #slider.row{

    }
  }
  /* Mobile Portrait */
  @media only screen and (max-width: 767px) and (orientation: portrait){
    #slider.row img{
      left:-100%;
    }
  }

  /* Tablet */
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    #brand .logo{

    }
  }

  /* Small Monitor */
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    #brand .logo{

    }
  }

.segment h3.header{
  border-bottom:1px solid #f0f0f0;   
}
.segment table tr td{
  vertical-align:top;
}

/* CONTACT */
.contact.profile{
  vertical-align:top;
  padding-top:4px;
}

/* BLOG */
.ui.blog .header i{
  font-size:12px;
  line-height:11px;
}

/* FEATRUED ATRICLES */
#featured{

}
  #featured .image{
    background-position:top center;
    border-top:1px solid #ccc;
    border-right:1px solid #ccc;
    border-left:1px solid #ccc;
  }
  #featured .section{
    padding:0px;
  }
  #featured .section .ui.header{
    margin-top:18px;
  }

/* PAGINATION */
.pagination{
  margin-top:15px;
  margin-bottom:15px;
  text-align:center;
}

/* PAGES */
#map-canvas{
  height:800px;
  width:100%;
}
#headoffice{
  position:absolute;
  width:400px;
  background-color:white;
  z-index:9999;
  padding:15px;
  margin:15px;
  margin-right:30px;
}

.link:hover{
  cursor:pointer;
}